<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-input
      label="Correo"
      labelPlacement="stacked"
      type="email"
      [(ngModel)]="email">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      label="Contraseña"
      labelPlacement="stacked"
      type="password"
      [(ngModel)]="password">
    </ion-input>
  </ion-item>

  <ion-button
    expand="block"
    class="ion-margin-top"
    (click)="ingresar()">

    Ingresar

  </ion-button>

  <p *ngIf="mensaje">
    {{ mensaje }}
  </p>

</ion-content>